/*============-============-============-============
                         VARIABLES
==============-============-============-==========*/

:root {
  --color-primary: #323639;
  --color-primary-darker: #333;
  --color-white: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary);
  box-sizing: border-box;
}

/*============-============-============-============
                        GLOBAL
==============-============-============-==========*/

body::-webkit-scrollbar { 
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*============-============-============-============
                    GLOBAL CLASSES
==============-============-============-==========*/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*============-============-============-============
                        LANDING PAGE
==============-============-============-==========*/

.landing {
  min-height: 100vh;
  position: relative;
}

.landing .container {
  color: #fff;
  padding: 0 1rem;
  margin: 0 auto;
}

.landing h1 {
  font-size: 3.4rem;
  text-align: center;
}

.landing .title span {
  display: table;
  margin: 0 auto;
}

.landing .tagline {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.social-icons {
  text-align: center;
  margin-bottom: 3.5rem;
}

.social-icon + .social-icon {
  margin-left: 2.2rem;
}

.social-icon svg {
  color: var(--color-white);
  transition: transform .3s ease-out;
  font-size: 2.4rem;
}

.social-icon svg:hover {
  transform: scale(1.15);
}

.landing .btn {
  position: relative;
  background-color: #333;
  color: var(--color-white);
  width: 150px;
  height: 150px;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  overflow: hidden;
  outline: none;
  opacity: 1;
  transition: all .3s ease-out;
}

.landing .btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary-darker);
  border-color: var(--color-primary-darker);
  transform: scale(1.05);
  opacity: .7;
}

.landing .btn + .btn {
  margin-left: 1.3rem;
}

.shine {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 1%,rgba(255,255,255,0.6) 30%,rgba(255,255,255,0.85) 50%,rgba(255,255,255,0.85) 70%,rgba(255,255,255,0.85) 71%,rgba(255,255,255,0) 100%);
  width: 50%;
  height: 100%;
  transform: skew(30deg,0deg);
  animation: move 12s infinite;
}

.shine.two {
  animation-delay: 6s;
}

@keyframes move {
	0%  { left: -40%; opacity: 0; }
	1% {opacity: 0}
	5% {opacity: 0.05}
	8% {opacity: 0}
  14% { left: 140%;}
}

/*============-============-============-============
                        HEADER
==============-============-============-==========*/

.header-wrapper-in {
  opacity: 1;
  transition: all .4s ease-out .9s;
}

.header-wrapper-out {
  opacity: 0;
  transition: all .4s ease-out;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  min-height: 40px;
  color: var(--color-white);
  background-color: rgba(50, 50, 50, 0.8);
}

.header .logo {
  z-index: 30;
  padding: 4px 0;
  text-align: center;
}

.header .logo h1 {
  /* font-family: 'Cinzel Decorative', cursive; */
  font-family: 'Cinzel', serif;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

/* -- Nav -- */

.header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 50;
  height: 0;
  font-family: 'Cinzel', serif;
  background-color: hsla(0,0%,0%,0.1);
  overflow: hidden;
  transition: height 500ms;
  will-change: height;
}

.header.open nav {
  height: 40px;
}

.header nav a {
  display: inline-block;
}

.header a {
  color: var(--color-white);
}

/* -- Header Hamburger Menu -- */

.header .nav-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 30;
  height: 25px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.header .menu-lines,
.header .menu-lines::before,
.header .menu-lines::after {
  display: block;
  position: relative;
  width: 23px;
  height: 3px;
  border-radius: 1.5px;
  background-color: white;
  transition-delay: 200ms;
}

.header .menu-lines::before,
.header .menu-lines::after {
  position: absolute;
  right: 0;
  left: 0;
  content: "";
  transition: transform 200ms,top 200ms 400ms;
}

.header .menu-lines::before {
  top: -7px;
}

.header .menu-lines::after {
  top: 7px;
}

/* Menu Open */

.header.open .menu-lines {
  background-color: transparent;
}

.header.open .menu-lines::before, 
.header.open .menu-lines::after {
  top: 0;
  transition: transform 200ms 400ms,top 200ms;
}

.header.open .menu-lines::before {
  transform: rotateZ(45deg);
}

.header.open .menu-lines::after {
  transform: rotateZ(-45deg);
}

/*============-============-============-============
                        MAIN
==============-============-============-==========*/

main {
  font-size: .8rem;
  font-weight: normal;
  font-family: 'Cinzel', serif;
  color: #fff;
  padding-top: 5.2rem;
}

  /* -- Portfolio -- */

.portfolio-container {
  padding: 0 2rem;
}

.portfolio {
  max-width: 1423px;
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  justify-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.portfolio img {
  display: block;
  border-radius: 5px;
  max-width: 100%;
}

/*============-============-============-============
                  PAGE TRANSITIONS
==============-============-============-==========*/

.page {
  position: absolute;
  left: 0;
  right: 0;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 900ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

/*============-============-============-============
                      MEDIA QUERIES
==============-============-============-==========*/

@media (max-width: 359px ) {
  .portfolio {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 740px ) {
  .landing {
    margin-top: 5rem;
  }
}

@media (min-width: 550px ) {
  .portfolio {
    grid-template-columns: repeat(3, minmax(160px, 1fr));
  }
}

@media (min-width: 667px ) and (max-width: 823px ) and (orientation: landscape) {
  .portfolio {
    grid-template-columns: repeat(4, minmax(140px, 1fr));
  }
}

@media (min-width: 741px ) {
  .landing .logo span {
    display: inline-block;
  }
}

@media (min-width: 1150px ) {
  .portfolio {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}